footer
    .container
        .footer
            .footer-logo
                a(href='#') DREAMSHARE
            .footer-company
                .footer-company-title.footer-title
                    a(href='') Company
                ul
                    li
                        a(href='') About
                    li
                        a(href='') Contact
                    li
                        a(href='') Press
                    li
                        a(href='') Blog
                    li
                        a(href='') Terms and Privacy
                    li
                        a(href='') Help
            .footer-partners.footer-title
                a(href='') Partners
            .footer-author
                a(href='#')
                    img(src='img/Designby.png', alt='')