header
    .container
        .header-top
            .header-logo
                a(href='#') DREAMSHARE
            .header-account
                button.btn-log(type='button') Log in
                button.btn-sign(type='button') Sign up
        .header-info
            .header-info-title
                | SHARE YOUR 
                br
                | HOLIDAY DREAM
            .header-info-text And find the perfect partner to fullfill it
            .header-info-btn
            button.btn.header-btn(type='button') Find your holiday partner