.container
      section.guide
        .guide-title.title How Dreamshare works?
        .guide-steps
          .guide-steps-block.step1
            .guide-steps-items
              button.step step 1
              .step-name Sed leo enim, condimentum
              .step-text
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
          .guide-steps-block.step2
            .guide-steps-items
              button.step step 2
              .step-name Morbi velit risus
              .step-text
                | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
          .guide-steps-block.step3
            .guide-steps-items
              button.step step 3
              .step-name Sed leo enim, condimentum
              .step-text
                | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
      section.meet
        .meet-title.title Meet a partner for your best holiday
        .meet-items
          .meet-item
            img(src='img/meet-avatar1.jpg', alt='')
            .meet-name Bradley Hunter
            .meet-text Based in Chicago. I love playing tennis and loud music.
          .meet-item
            img(src='img/meet-avatar2.jpg', alt='')
            .meet-name Marie Bennett
            .meet-text Currently living in Colorado. Lover of art, languages and travelling.
          .meet-item
            img(src='img/meet-avatar3.jpg', alt='')
            .meet-name Diana Wells
            .meet-text
              | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
          .meet-item
            img(src='img/meet-avatar4.jpg', alt='')
            .meet-name Christopher Pierce
            .meet-text Star Wars fanatic. I have a persistent enthusiasm to create new things.
        button.btn.meet-btn(type='button') See other partners
      section.ideas
        .ideas-title.title Discover holiday activity ideas
        .ideas-top-blocks.d-flex
          img.img-sq(src='img/ideas-img1.jpg', alt='')
          img.img-sq(src='img/ideas-img2.jpg', alt='')
          img.img-sq(src='img/ideas-img3.jpg', alt='')
        .ideas-mid-blocks.d-flex
          img.img-sq(src='img/ideas-img4.jpg', alt='')
          img.img-re(src='img/ideas-img5.jpg', alt='')
        .ideas-bot-blocks.d-flex
          img.img-re(src='img/ideas-img6.jpg', alt='')
          img.img-sq(src='img/ideas-img7.jpg', alt='')
      section.crate
        .crate-title.title Crate your holiday activity
        .crate-quest Hi! What are your holiday interests?
        .crate-input-block
          input(placeholder='Enter your insterests', type='text')
          button.btn.crate-btn(type='button') Search partners